<Lax>
  <div style="min-height: 2000px;">
    <div style="position: relative">
      <div style="margin-top: 300px; margin-bottom: 600px; text-align: center;">
        Scroll down for more fun!
      </div>
      <div class="lax" style="left: 0; right: 0; margin: auto; background-color: red; top: 400px; width: 100px; height: 100px;" data-lax-preset="spin crazy">YIPPIE</div>
      <div class="lax" style="left: 0; right: 0; margin: auto; background-color: green; top: 400px; width: 100px; height: 100px;" data-lax-preset="spinRev swing">KAY</div>
      <div class="lax" style="left: 0; right: 0; margin: auto; background-color: blue; top: 400px; width: 100px; height: 100px;" data-lax-preset="spinOut slalom fadeInOut">!YAY!</div>
      <div class="lax" style="left: 0; right: 0; margin: auto; background-color: purple; top: 400px; width: 100px; height: 100px;" data-lax-preset="leftToRight fadeInOut zoomInOut">ANY</div>
      <div class="lax" style="left: 0; right: 0; margin: auto; background-color: yellow; top: 400px; width: 100px; height: 100px;" data-lax-preset="spin speedy driftLeft">MATZ</div>
      <div class="lax" style="left: 0; right: 0; margin: auto; background-color: white; top: 400px; width: 100px; height: 100px;" data-lax-preset="spin driftRight">IONS</div>
      <div style="margin-top: 300px; margin-bottom: 600px; text-align: center;">
        Scroll up for reverse effect :)
      </div>
    </div>
  </div>
</Lax>
