/* menu style */
#title a, #title a:visited {
    color: white !important;
}

/* Style from Lax demo page at https://alexfox.dev/laxxx/ */
body,html {
    margin:0;
    padding:0;
    color: #F3F4F5;
    background: #191818;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

#main {
    opacity: 0;
    transition: opacity 200ms;
}

#main.loaded {
    opacity: 1;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    z-index: 2;
    height: 100vh;
}

.bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 1;
}

#header img {
    width: 78pt;
    margin-top: 12pt;
}

#header h2 {
    margin-top: 60pt;
    font-size: 24pt;
    font-weight: 600;
    text-align: center;
}

#header h4 {
    font-size: 16pt;
    font-weight: 300;
    text-align: center;
}

#header i {
    font-size: 14pt;
    background: white;
    color: black;
    width: 30pt;
    text-align: center;
    height: 30pt;
    line-height: 30pt;
    border-radius: 15pt;
    margin-top: -10pt;
}

.left {
    position: absolute;
    left: 80pt;
}

.right {
    position: absolute;
    right: 80pt;
}

.chunkyText {
    font-size: 80pt;
    font-weight: 1000;
}

.crazyText {
    font-size: 40pt;
    font-weight: 1000;
    color: #5ee5d5;
    position: absolute;
    width: 100vw;
    text-align: center;
    margin-top: 500pt;
}

.bubble {
    position: absolute;
    margin-top: 100pt;
}

.block {
    position: absolute;
    width: 60pt;
    height: 60pt;
}

.bubble.a {
    width: 100pt;
    height: 100pt;
    border-radius: 50pt
}

.bubble.b {
    width: 130pt;
    height: 130pt;
    border-radius: 65pt
}

.bubble.c {
    width: 50pt;
    height: 50pt;
    border-radius: 25pt
}

.section {
    z-index: 2;
    display: block;
    position: relative;
}

#section1 {
    height: 750pt;
}

#section2 {
    height: 200pt;
}

#section3 {
    padding: 0 20pt;
    font-size: 20pt;
    line-height: 30pt;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 85vh;
}

p {
    max-width: 500pt;
    text-align: center;
    margin-bottom: 100pt;
    font-weight: 300;
}

.button {
    padding: 10pt 50pt; 
    background: url(img/button-bg.jpg);
    background-size: 100pt;
    border-radius: 10pt;
    font-weight: 600;
    color: black !important;
}

a {
    text-decoration: none;
}

a:visited {
    color: black !important;
}

.button:hover {
    background: white;
    color: black !important;
    cursor: pointer;
}

.github-corner {
    z-index: 1000;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(1.2);
}
