<h2 id="title">Lax Examples :: {{#link-to "demo.as-component"}}Via renderless component{{/link-to}} | {{#link-to "demo.as-modifier"}}Via element modifier{{/link-to}} | {{link-to "simple 1" "demo.simple-1"}} | {{link-to "simple 2" "demo.simple-2"}} | {{link-to "simple 3" "demo.simple-3"}}</h2>

{{outlet}}
